html{
    background-color: #fff;
    box-sizing: border-box;
    color: #1b1b1b;
    font-family: sans-serif;
}
body{
    font-family: arial, x-locale-body, sans-serif;
    letter-spacing: -.0027777778rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
    line-height: 1.75;
}

span{
    text-decoration: underline;
    color: rgb(63, 107, 121);
}